# to generate password, run: openssl rand -base64 32
POSTGRES_DB=marv-chat
POSTGRES_USER=marv_user
POSTGRES_PASSWORD=your_secure_password_here
DATABASE_URL=postgresql://marv_user:your_secure_password_here@localhost:5432/marv-chat
NODE_ENV=development
APP_NAME=MarvChat

# Better Auth
BETTER_AUTH_SECRET=your_secure_secret_here
BETTER_AUTH_URL=http://localhost:3000

# GitHub
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

# Google
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# AI
AI_GATEWAY_API_KEY=your_ai_gateway_api_key
OPENROUTER_API_KEY=your_openrouter_api_key
OLLAMA_API_KEY=your_ollama_api_key
GOOGLE_GENERATIVE_API_KEY=your_google_generative_ai_api_key

# VITE_
VITE_APP_TITLE=MarvChat
VITE_APP_URL=http://localhost:3000
